version: "3.7"
services:
  webui:
    image: ghcr.io/neggles/sd-webui-docker:latest
    restart: unless-stopped
    container_name: sd-webui
    build:
      context: ./docker
      dockerfile: Dockerfile
      target: webui
    environment:
      CLI_ARGS: "--skip-version-check --allow-code --enable-insecure-extension-access --api --xformers --opt-channelslast"
      # make TQDM behave a little better
      PYTHONUNBUFFERED: "1"
      TERM: "${TERM}"
    ports:
      - mode: ingress
        target: 7860
        published: 7860
        protocol: tcp
    volumes:
      - type: bind
        source: ./data
        target: /data
      - type: bind
        source: ./output
        target: /output

