# pip, transformers, huggingface etc. cache
/.cache

# container configs
/config

# misc data
/misc

# webui container
/BLIP
/BSRGAN
/Codeformer
/ControlNet
/Deepdanbooru
/embeddings
/ESRGAN
/GFPGAN
/Hypernetworks
/LDSR
/Lora
/LyCORIS
/MiDaS
/openpose
/RealESRGAN
/ScuNET
/StableDiffusion
/SwinIR
/VAE

# kohya_ss container data
/kohya
