name: WebUI (vladmandic)
run-name: vladmandic (via ${{ github.event_name }})

on:
  push:
    branches:
      - "main"
      - "release"
    paths:
      - "docker-bake.hcl"
      - "docker-compose.yml"
      - "docker/Dockerfile.base"
      - "docker/Dockerfile.vlad"
      - "docker/entrypoint_vlad.sh"
      - "docker/*vlad*"
      - "docker/config.json"
      - ".github/workflows/build-push-vlad.yml"
      - "!**.md"
  schedule:
    - cron: "0 0 * * *"

  workflow_dispatch:
    inputs:
      force-push:
        description: "push to GHCR"
        type: boolean
        required: true
        default: false

  pull_request:
    paths:
      - "docker-bake.hcl"
      - "docker-compose.yml"
      - "docker/Dockerfile.base"
      - "docker/Dockerfile.vlad"
      - "docker/entrypoint_vlad.sh"
      - "docker/*vlad*"
      - "docker/config.json"
      - ".github/workflows/build-push-vlad.yml"
      - "!**.md"

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

env:
  IMAGE_REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  IMAGE_PLATFORMS: "linux/amd64"

jobs:
  build:
    name: Build (CUDA)
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        include:
          - name: "vladmandic (latest)"
            target: "vlad-latest"
            tags: |
              type=raw,value=vlad,enable={{is_default_branch}}
              type=raw,value=vlad-{{date 'YYYYMMDD'}},enable={{is_default_branch}}
              type=sha,prefix=vlad-,format=short
              type=ref,event=branch,prefix=vlad-
              type=ref,event=tag,prefix=vlad-
              type=ref,event=pr,prefix=vlad-

    steps:
      - name: Free disk space
        id: free-disk-space
        run: |
          df -h .
          sudo find /usr/share/dotnet -delete      # frees 20GB on the runner
          sudo find /usr/local/lib/android -delete # frees 10GB on the runner
          df -h .

      - name: Checkout
        id: checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
        with:
          platforms: ${{ env.IMAGE_PLATFORMS }}

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: ${{ matrix.tags }}

      - name: Build and Push Versioned Tags
        id: build-push
        uses: docker/bake-action@v3
        with:
          targets: ${{ matrix.target }}
          files: |
            ./docker-bake.hcl
            ${{ steps.meta.outputs.bake-file }}
          push: ${{ ((github.event_name == 'push' || github.event_name == 'schedule') && github.ref == 'refs/heads/main') || inputs.force-push }}
          set: |
            *.cache-from=type=gha
