name: WebUI Docker Build
run-name: WebUI Build (${{ github.event_name }})

on:
  push:
    branches:
      - "main"
      - "release"
    paths:
      - "docker/*"
      - "Dockerfile*"
      - "start.py"
      - ".github/workflows/build-push.yml"
      - "!**.md"
  workflow_dispatch:
    inputs:
      force-push:
        description: "push to GHCR"
        type: boolean
        required: true
        default: false

  pull_request:
    paths:
      - docker/

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

env:
  SD_LATEST_REF: 22bcc7be428c94e9408f589966c2040187245d81
  SD_STABLE_REF: a9fed7c364061ae6efb37f797b6b522cb3cf7aa2
  IMAGE_REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    name: Build (CUDA)
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        include:
          - name: "WebUI (Latest)"
            target: "webui"
            context: "./docker"
            dockerfile: "./docker/Dockerfile"
            build-args: |
              SD_WEBUI_REF=22bcc7be428c94e9408f589966c2040187245d81
            platforms: "linux/amd64"
            tags: |
              type=raw,value=latest,enable={{is_default_branch}}
              type=sha,prefix=rev-,format=short
              type=edge
              type=ref,event=branch
              type=ref,event=tag
              type=ref,event=pr

          - name: "WebUI (Stable)"
            target: "webui"
            context: "./docker"
            dockerfile: "./docker/Dockerfile"
            build-args: |
              SD_WEBUI_REF=a9fed7c364061ae6efb37f797b6b522cb3cf7aa2
            platforms: "linux/amd64"
            tags: |
              type=raw,value=stable,enable={{is_default_branch}}
              type=sha,prefix=stable-,format=short

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
        with:
          platforms: ${{ matrix.platforms }}

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: ${{ matrix.tags }}

      - name: Build and Push Versioned Tags
        uses: docker/build-push-action@v3
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.dockerfile }}
          build-args: ${{ matrix.build-args }}
          target: ${{ matrix.target }}
          platforms: ${{ env.IMAGE_PLATFORMS }}
          push: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/main') || inputs.force-push }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=build-${{ github.repository }}
          cache-to: type=gha,mode=max,scope=build-${{ github.repository }}
